/* Style for ttSchweizer Site */


body
{
		 font: 14px Arial, Helvetica, sans-serif;
		 background: #f1f1f1;
         margin-top: 0px;
}

.menuArrow a, .menu a, h1 a, h2 a {
    text-decoration: none;
	opacity: 0.8;
    color: #00E;
}

a:hover,
a:focus {
	opacity: 1;
}

dl {
    padding: 0.5em;
    width: max-content;
}
dt {
/*
    float: left;
    clear: left;
    width: 100px;
*/
    padding: 1em 0 0 0.5em;
    font-weight: bold;
}
  dt:after {
    content: ":";
  }
  dd {
    margin: -0.5em 0 0 0;
    padding: 0 1em 1em 2em;
  }

.menu {
    word-spacing: 20px;
    padding:7px; border:#4e95f4 1px solid;
    /*top: 0px;*/
    display: inline-block;
}
.menuArrow {
    word-spacing: 30px;
    padding:7px; border:#4e95f4 0px solid;
    top: 1px;
    display: inline-block;
    font-size: 2em;
}
.menuFix {
    background-color: #A7C942;
}
.menuDyn {
    background-color: #b8d1f3;
}

.hoverTable{
    border-collapse:collapse;
}
.hoverTable td, .hoverTable th{
    padding:7px; border:#4e95f4 1px solid;
}
.hoverTable th{
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
    text-align: center;
    vertical-align: bottom;
    height: 12em;
}
 .th-spieler {
    font-size: 1em;
    color: #000000;
 }
{# Define the default color for all the table rows #}
.hoverTable tr, dd, dt {
    background: #b8d1f3;
}
.hoverTable tr.odd, dt.odd, dt.odd + dd {
    background: #EAF2D3;
}
{# Define the hover highlight color for the table row #}
.hoverTable tr:hover {
      background-color: #ffff99;
}

.verticalText {
      text-align: center;
      vertical-align: middle;
      width: 0.8em;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 10px;
      white-space: nowrap;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(90deg);
  -ms-writing-mode: tb-rl;
  -ms-transform: none;
  position: relative;
  z-index: 0;
}

.punkte {
 width:2.5em;
 font-size: 1.3em;
 margin-top: 3px;
}
.satz {
 width:2em;
 font-size: 1.3em;
 margin-top: 10px;
}

/* Notification */
.messageTop
{
 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 width: 95%;
 border: 1px solid;
 color: #fff;
 padding: 15px;
 position: relative;
 z-index: 10;
 text-shadow: 0 1px 0 rgba(0,0,0,.5);
 -webkit-animation: animate-bg 5s linear infinite;
 -moz-animation: animate-bg 5s linear infinite;
 background-color: rgba(42,45,50,0.75);
 border-color: #3b8eb5;
}

.message,
.info
{
 border-color: #3b8eb5;
}

.error
{
 background-color: #de4343;
 border-color: #c43d3d;
}

.warning
{
 background-color: #eaaf51;
 border-color: #d99a36;
}

.success
{
 background-color: #61b832;
 border-color: #55a12c;
}

.messageTop h3
{
 margin: 0 0 5px 0;
}

.messageTop p
{
 margin: 0;
}

.messageTop a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.messageTop a:hover,
.messageTop a:focus {
	opacity: 1;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


#trigger-list
{
 text-align: center;
 margin: 100px 0;
 padding: 0;
}

#trigger-list li
{
 display: inline-block;
 *display: inline;
 zoom: 1;
}

#trigger-list .trigger
{
 display: inline-block;
 background: #ddd;
 border: 1px solid #777;
 padding: 10px 20px;
 margin: 0 5px;
 font: bold 12px Arial, Helvetica;
 text-decoration: none;
 color: #333;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}

#trigger-list .trigger:hover
{
 background: #f5f5f5;
}

/*--------------------------------------*/

.centered
{
 text-align: center;
}

.twitter-follow-button
{
 position: relative;
 top: 7px;
}

/*--------------------------------------*/

div.tooltips {
    padding: 7px;
}
td.tooltips {
  padding:  0px;
  position: relative;
}

.X {
    padding: 7px;
    background-color: #A7C942;
}

span {
  display: none;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.tspan {
  max-width: 485px;
}

td.tooltips:hover {
  background-color: #A7C942;
}

td.awaited {
  background-color: #FF0000;
}

td.justPlayed {
  color: #FF0000;
  font-weight: bold;
}
span {
  font-weight: normal;
}

/*
td.tooltips:hover span {
  visibility: visible;
  position: absolute;
  top: -60px;
  left: 0;
  width: 350px;
  z-index: 100;
  color: #000000;
  border:1px solid #000000;
  background: #FFFFCC;
  text-align: center;
  border-radius: 4px;
  margin-left: -120px;
  padding: 5px;
  transition-property: visibility;
  transition-delay:0.5s;
  }
*/

td.tooltips span b {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weigth: bold;
  color: yellow;
  background-color: gray;
  border: 0px;
  border-bottom: 1px solid black;
}

