/* Style for ttSchweizer Site */

body
{
		 font: 14px Arial, Helvetica, sans-serif;
		 background: #f1f1f1;
}

.hoverTable{
    border-collapse:collapse;
}
.hoverTable td, .hoverTable th{
    padding:7px; border:#4e95f4 1px solid;
}
.hoverTable th{
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
    text-align: center;
    vertical-align: bottom;
    height: 12em;
}
 .th-spieler {
    font-size: 1em;
    color: #000000;
 }
{# Define the default color for all the table rows #}
.hoverTable tr{
    background: #b8d1f3;
}
.hoverTable tr.odd{
    background: #EAF2D3;
}
{# Define the hover highlight color for the table row #}
.hoverTable tr:hover {
      background-color: #ffff99;
}

.verticalText {
      text-align: center;
      vertical-align: middle;
      width: 0.8em;
      margin: 0px;
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 10px;
      white-space: nowrap;
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(90deg);
  -ms-writing-mode: tb-rl;
  -ms-transform: none;
  position: relative;
  z-index: 0;
}

input[type="number"] {
       width:2em;
}

/* Notification */
.message
{
 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 width: 95%;
 border: 1px solid;
 color: #fff;
 padding: 15px;
 position: fixed;
 _position: absolute;
  z-index: 10;
 text-shadow: 0 1px 0 rgba(0,0,0,.5);
 -webkit-animation: animate-bg 5s linear infinite;
 -moz-animation: animate-bg 5s linear infinite;
}

.info
{
 background: rgba(42,45,50,0.75);
 border-color: #3b8eb5;
}

.error
{
 background-color: #de4343;
 border-color: #c43d3d;
}

.warning
{
 background-color: #eaaf51;
 border-color: #d99a36;
}

.success
{
 background-color: #61b832;
 border-color: #55a12c;
}

.message h3
{
 margin: 0 0 5px 0;
}

.message p
{
 margin: 0;
}

.message a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.message a:hover,
.message a:focus {
	opacity: 1;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


#trigger-list
{
 text-align: center;
 margin: 100px 0;
 padding: 0;
}

#trigger-list li
{
 display: inline-block;
 *display: inline;
 zoom: 1;
}

#trigger-list .trigger
{
 display: inline-block;
 background: #ddd;
 border: 1px solid #777;
 padding: 10px 20px;
 margin: 0 5px;
 font: bold 12px Arial, Helvetica;
 text-decoration: none;
 color: #333;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}

#trigger-list .trigger:hover
{
 background: #f5f5f5;
}

/*--------------------------------------*/

.centered
{
 text-align: center;
}

.twitter-follow-button
{
 position: relative;
 top: 7px;
}

/*--------------------------------------*/

td.tooltips {
  position: relative;
}

td.tooltips span {
  display: none;
  text-decoration: none;
}

td.tooltips:hover {
  background-color: #A7C942;
}

td.awaited {
  background-color: #FF0000;
}


td.tooltips:hover span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 350px;
  z-index: 100;
  color: #000000;
  border:1px solid #000000;
  background: #FFFFCC;
  text-align: center;
  border-radius: 4px;
  margin-left: -176px;
  padding: 5px;
  }

td.tooltips span b {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weigth: bold;
  color: yellow;
  background-color: gray;
  border: 0px;
  border-bottom: 1px solid black;
}

