<h2>{%- if editRound > 0 %}
Eingabe für Runde {{ editRound }}
(<a href="{{ url_for('edit',roundNumber=editRound-1) }}">{{ editRound-1 }}</a>)
{%- else %}
Eingabe der Spieler
{%- endif %}
</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('edit', roundNumber=editRound) }}" method=post>
 <table>
 <tr>
  <td>
  <textarea name="text" cols="70" rows="18">{{ text }}</textarea>
  </td>
  <td>
  <input type="submit" name="action" value="Speichern"/><p/>
  <input type="submit" name="action" value="Löschen"/>
  </td>
 </tr>
 </table>
</form>
