<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ttSchweizer.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<title>ttSchweizer Ergebnisse</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
var myMessages = ['info','warning','error','success']; // define the messages types
function hideAllMessages()
{
 var messagesHeights = new Array(); // this array will store height for each

 for (i=0; i<myMessages.length; i++)
 {
  messagesHeights[i] = $('.' + myMessages[i]).outerHeight();
  $('.' + myMessages[i]).css('top', -messagesHeights[i]); //move element outside viewport
 }
}

function showMessage(type)
{
$('.'+ type +'-trigger').click(function(){
  hideAllMessages();
  $('.'+type).animate({top:"0"}, 500);
});
}

$(document).ready(function(){
 
 // Initially, hide them all
 hideAllMessages();
 
 // Show message
 for(var i=0;i<myMessages.length;i++)
 {
  showMessage(myMessages[i]);
 }
 
 // When message is clicked, hide it
 $('.message').click(function(){
  $(this).animate({top: -$(this).outerHeight()}, 500);
  });
  $('.info').animate({top:"0"}, 500);
 
});       
</script>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="info message">
    {%- for message in messages %}
		<p>{{ message }}</p>
    {%- endfor %}
    {% if begegnungen %}
    <hr/>
    <p>Brauchen Sie <a href="{{ url_for('spielerZettel', begegnungen=begegnungen) }}">Spielerzettel?</a></p>
    {% endif %}
</div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
{%- if existingTurniere is defined and existingTurniere %}
<hr/>
<h2>Vorhandene Turniere:</h2>
<p>
{%- for turnier in existingTurniere %}
	<a href="{{ url_for('setTurnier', turnier=turnier) }}">{{ turnier }}</a>
{%- endfor %}
{% endif %}
</p>
</body>
</html>
