<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ttSchweizer.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<title>ttSchweizer Ergebnisse</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
var myMessages = ['message', 'info','warning','error','success']; // define the messages types
function hideAllMessages()
{
 var messagesHeights = new Array(); // this array will store height for each

 for (i=0; i<myMessages.length; i++)
 {
  messagesHeights[i] = $('.' + myMessages[i]).outerHeight();
  $('.' + myMessages[i]).css('top', -messagesHeights[i]); //move element outside viewport
 }
}

function showMessage(type)
{
$('.'+ type +'-trigger').click(function(){
  hideAllMessages();
  $('.'+type).animate({top:"0"}, 500);
});
}

$(document).ready(function(){
 
 // Initially, hide them all
 hideAllMessages();
 
 // Show message
 for(var i=0;i<myMessages.length;i++)
 {
  showMessage(myMessages[i]);
 }
 
 // When message is clicked, hide it
 $('.messageTop').click(function(){
  $(this).animate({top: -$(this).outerHeight()}, 500);
  });
  $('.info').animate({top:"0"}, 500);
 
});       
</script>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
<div class="messageTop">
    {%- for category, message in messages %}
		<p class="{{ category }}">{{ message }}</p>
    {%- endfor %}
</div>
  {% endif %}
{% endwith %}
<div class="menu menuFix">
<a href="{{ url_for('main') }}">Home</a>
<a href="{{ url_for('new') }}">Turniere</a>
<a href="{{ url_for('logout') }}">Logout</a>
</div>
<div class="menu menuDyn">
{%- if session['expertMode'] %}
<a href="{{ url_for('expertMode',mode=0) }}">Normalansicht</a>
{%- else %}
<a href="{{ url_for('expertMode',mode=1) }}">Expertenansicht</a>
{%- endif %}
{%- if begegnungen %}
<a href="{{ url_for('spielerZettel', begegnungen=begegnungen, runde=runde) }}">Spielerzettel</a>
{%- endif %}
{%- if currentRound is defined and currentRound.isComplete() %}
<a href="{{ url_for('auslosen') }}">Auslosen</a>
{%- endif %}
</div>
{% block body %}{% endblock %}
{%- if existingTurniere is defined and existingTurniere %}
<hr/>
<h2>Vorhandene Turniere:</h2>
<p>
<div class="menu menuDyn">
{%- for turnier in existingTurniere %}
	<a href="{{ url_for('setTurnier', turnier=turnier) }}">{{ turnier }} </a>
{%- endfor %}
</div>
{% endif %}
</p>
</body>
</html>
