{% extends "layout.html" %}
{% block body %}
<h1>Ergebnisse nach 
{%- if runde >= 0 %}
<a href="{{ url_for('edit',roundNumber=runde) }}">Runde {{ runde }}</a>
{%- else %}
Runde {{ runde }}
{%- endif %}
für <a href="{{ url_for('new') }}">Turnier</a>
{{ session['turnierName'] }}</h1>
<table class="hoverTable">
<tr>
 <th><div class="verticalText">Platz</div></th>
 <th><div class="verticalText">Spieler</div></th>
{%- for spieler in spielerList %}
 <th><div class="verticalText th-spieler">{{ spieler }}</div></th>
{%- endfor %}
 <th><div class="verticalText">Siege</div></th>
 <th><div class="verticalText">Buchholzzahl</div></th>
 <th><div class="verticalText">TTR</div></th>
 {% if thereAreFreilose %}
 <th><div class="verticalText">Freilos</div></th>
 {% endif %}
</tr>
{%- for (spieler, siege, buchz, platz) in ranking %}
<tr class="{{ loop.cycle('odd', 'even') }}">
 <td align="right">{{ platz }}</td>
 <td>{{ spieler }}</td>
{%- for player in spielerList %}
 <td class="tooltips">{{ spieler.getMatrixElement(player) }}
 {%- if spieler.getMatrixElementTooltipNames(player) %}<span>{{
      spieler.getMatrixElementTooltipNames(player) }}<br/>{{
      spieler.getMatrixElementTooltipResult(player)
      }}{%- if spieler.willPlayAgainst(player) %}<br/>
<form action="{{ url_for('editSingle', roundNumber=editRound, a=spieler, b=player) }}" method=post>
    <input type="text" name="result" cols="30"</input>
</form> {%- endif %}</span>{%- endif %}</td>
{%- endfor %}
 <td align="right">{{ siege }}</td>
 <td align="right">{{ buchz }}</td>
 <td align="right">{{ spieler.ttr }}</td>
 {% if thereAreFreilose %}
 <td>{{ 'ja' if spieler.hatteFreilos }}</td>
 {% endif %}
</tr>
{%- endfor %}
</table>
{%- if text %}
<p/>
<hr/>
<p/>
{%- include "edit_form.html" %}
{%- endif %}
{% endblock %}

