{% extends "layout.html" %}
{% block body %}
<h1 class="tt">
Runde {%- if runde >= 0 %}
<a href="{{ url_for('edit',roundNumber=runde) }}">{{ runde }}</a>
{%- else %}
{{ runde }}
{%- endif %} für Turnier {{ session['turnierName'] }}</h1>
<table class="hoverTable">
<tr>
 <th><div class="verticalText">Platz</div></th>
 <th><div class="verticalText">Spieler</div></th>
{%- for spieler in spielerList %}
 <th><div class="verticalText th-spieler">{{ spieler }}</div></th>
{%- endfor %}
 <th><div class="verticalText">Siege</div></th>
 <th><div class="verticalText">Buchholzzahl</div></th>
 <th><div class="verticalText">TTR</div></th>
 {% if thereAreFreilose %}
 <th><div class="verticalText">Freilos</div></th>
 {% endif %}
</tr>
{%- for (spieler, siege, buchz, platz) in ranking %}
<tr class="{{ loop.cycle('odd', 'even') }}">
 <td align="right">{{ platz }}</td>
 <td>{{ spieler }}</td>
{%- for player in spielerList %}
 <td class="tooltips {{ spieler.getMatrixElementStyle(player,currentRound) }}">{{
     spieler.getMatrixElement(player,currentRound)|safe }}
 {%- if spieler.getMatrixElementTooltipNames(player,currentRound) %}<span>{{
      spieler.getMatrixElementTooltipNames(player,currentRound) }}<br/>{{
      spieler.getMatrixElementTooltipResult(player)
      }} <br/>
<form action="{{ url_for('editSingle',
                     roundNumber=spieler.getRoundNrOfPlayedAgainst(player) or runde,
                     a=spieler, b=player) }}" method=post>
    <input type="number" name="setWon" min="0"/>:
    <input type="number" name="setLost" min="0"/>&nbsp;
    <input type="number" name="set1"/>
    <input type="number" name="set2"/>
    <input type="number" name="set3"/>
    <input type="number" name="set4"/>
    <input type="number" name="set5"/>
    <input type="submit" value="Ok">
</form></span>{%- endif %}</td>
{%- endfor %}
 <td align="right">{{ siege }}</td>
 <td align="right">{{ buchz }}</td>
 <td align="right">{{ spieler.ttr }}</td>
 {% if thereAreFreilose %}
 <td class="{{ spieler.getFreilosStyle(runde) }}">{{ 'ja' if spieler.hatteFreilosInRound }}</td>
 {% endif %}
</tr>
{%- endfor %}
</table>
<div class="menu menuDyn">
	<a href="{{ url_for('main', roundNr=runde-1) }}">&lArr; </a><a href="{{ url_for('main', roundNr=runde+1) }}">&rArr;</a>
</div>

{%- if text %}
<p/>
<hr/>
<p/>
{%- include "edit_form.html" %}
{%- endif %}
{% endblock %}

